.BBB{
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, rgb(251, 116, 63) 0%, rgba(0,0,0,1) 100%); 
    
}

.PN{
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, rgb(63, 229, 251) 0%, rgba(0,0,0,1) 100%); 
    
}

.WaD{
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, rgb(251, 63, 135) 0%, rgba(0,0,0,1) 100%); 
    
}

.TaD{
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, rgb(251, 235, 63) 0%, rgba(0,0,0,1) 100%); 
    
}

.full{
  height: 100vh;
  width: 100vw;
}

